<%= form_for(@farm) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name, "Farm Name" %>
    <%= f.text_field :name %>
  </div>

  <%= f.label :weather_station_id, "Weather Station", 
                                    class: 'control-label' %>
  <div class="controls">
    <%= f.collection_select :weather_station_id,
                            WeatherStation.order("name"),
                            :id, :name %>
  </div>

  <%= f.fields_for :blocks do |builder| %>
    <%= render 'block_fields', f: builder %>
  <% end %>

  <%= link_to_add_fields "Add Block", f, :blocks %><br />

  <%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>