<%= form_for @farm, html: { class: '' } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="row">
  <div class="span3">
    <%= f.label :name, "Farm Name" %>
    <%= f.text_field :name, class: 'input-medium', placeholder: 'Farm Name' %>
  </div>
  <div class="span3">  
    <%= f.label :weather_station_id, "Weather Station" %>
    <%= f.collection_select :weather_station_id,
                            WeatherStation.order("name"),
                            :id, :name %>
  </div>
</div>


  <fieldset>

    <%= f.fields_for :irrigation_wells do |builder| %>
      <%= render 'irrigation_well_fields', f: builder %>
    <% end %>

    <%= link_to_add_fields "Add Irrigation Well", f, :irrigation_wells %>
  </fieldset>
  <fieldset>

    <%= f.fields_for :blocks do |builder| %>
      <%= render 'block_fields', f: builder %>
    <% end %>

    <%= link_to_add_fields "Add Block", f, :blocks %><br />
  </fieldset>

  <%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>