<% provide :title, @farm.name %>

<h1><%= @farm.name %></h1>

<table>
  <tr>
    <th>Block</th>
    <th>Field</th>
    <th>Soil Type</th>
  </tr>

  <% @farm.blocks.each do |block| %>
    <tr>
      <td><%= block.name %></td>
    </tr>

        <% block.fields.each do |field| %>
          <tr>
            <td></td>
            <td><%= field.name %></td>
            <td><%= field.soil_class.name %></td>
          </tr>
        <% end %>
  <% end %>
</table>


<%= link_to 'Edit', edit_farm_path(@farm) %> |
<%= link_to 'Back to Farms', farms_path %>