<table class="control-group">
  <%= form_for @irrigation do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <tr>
      <th><%= f.label :field_id %></th>
      <th><%= f.label :time %></th>
    </tr>

    <tr>
      <td class="controls">
        <%= f.collection_select :field_id, 
                                Field.all.sort_by(&:name_with_block), 
                                :id, :name_with_block %>

      </td>
      <td>
        <%= f.text_field :time, value: @update_time %>
      </td>
      <td><%= f.submit "Save", class: "btn btn-primary" %></td>
    </tr>
  <% end %>
</table>